.choice-bubble {
    position: absolute;
    top: 120px;
    right: 5px;
    width: 170px;
}

.choice-bubble-anim {
    transform-origin: center;
    animation: pulse;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Animation Keyframes */
@keyframes pulse {
  0% {
      transform: scale(1, 1);
  }
  25% {
      transform: scale(1.015, 0.98);
  }
  50% {
      transform: scale(1.03, 1);
  }
  75% {
      transform: scale(1.015, 0.98);
  }
  100% {
      transform: scale(1, 1);
  }
}
